body{
  background-color: #ED9153;
  color: #FBEDE1;
}
h1{
  color: #FBD157;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 50px;
}
.app{
  text-align: center;
}
.pomodoro-display{
  border: 5px solid #574B90;
  border-radius: 100%;
  box-shadow: 5px 5px 10px #574B90;
  background-color: #53435B;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-weight: bolder;
}
.toggles-div{
  margin-top: 30px;
}
.duration-div{
  font-size: 64px;
}


.toggle{
  cursor: pointer;
  display: block;
  font-size: 32px;
}
.toggle:hover{
  color: grey
}