<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pomodoro Timer</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="app container">
  <h1>
  Pomodoro
  </h1>
  <div class="pomodoro-display">
    <div class="toggles-div">
      <div v-on:click="togglePomodoro" class="switch toggle">{{status}}</div>
      <div v-on:click="timerLength++" class="increment toggle">+</div>
      <div v-if="status === 'Start'" class="duration-div">{{timerLength}}</div>
      <div v-if="status !== 'Start'" class="duration-div">{{minutesLeft}}:{{secondsLeft}}</div>

      <div v-on:click="timerLength--" class="decrement toggle">-</div>
    </div>

  </div>
</div>
  <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>

      <script src="js/index.js"></script>

</body>
</html>
